<div class="banner" style="background-image: url('<%= asset_path("monster_cie.jpg") %>')">
  <div class="banner-text">
    <h1>Watch List</h1>
    <p>Listez vos film préféré sur un seul et même site</p>
  </div>
</div>

<div class="index-container">
  <h2 id="subtitle-cards-lists">All your lists</h2>

  <div class="cards-lists">
    <ul>
      <% @lists.each do |list| %>
        <li>
          <% if list.photo.attached? && list.photo.key.present? %>
            <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill, alt: list.name, class: "list-image" %>
          <% end %>

          <%= link_to list.name, list_path(list), class: "list-name" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "+ Ajouter une liste", new_list_path, class:"btn btn-primary"%>
</div>
