<h2>Ajoute un bookmark</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.order(:title), prompt: "Choisis un film" %>
  <%= f.input :comment, label: "Votre avis" %>
  <%= f.submit "Submit bookmark" %>
<% end %>
